[2020-08-07 05:59] xgdgsc opened #1 "Example on button"
Is there an example on using button for some update event?

[2020-08-07 20:22] essenciary commented on #1
@xgdgsc What do you want the button to do? In Stipple, the UI elements bind to fields in the model.

[2020-08-07 22:24] xgdgsc commented on #1
I want manual trigger of some dataframe update on server. Currently I use a slider, as there' s an example for that.

[2020-08-07 22:29] essenciary commented on #1
Here is an example:

[code]

![button-demo](https://user-images.githubusercontent.com/11292378/89693210-244cbd80-d90e-11ea-888e-519e32c3dfc9.gif)

[2020-08-08 01:08] xgdgsc commented on #1
Great. Thanks!

[2020-08-08 01:08] #1 closed

[2020-08-08 08:06] essenciary commented on #1
We need to make the API nicer, to get rid of the `click!!` and just move it into the model, but it works fine.

[2020-08-26 13:40] szafna opened #2 "Not all Quassar Vue Components included in StippleUI"
Hi,

as I've found out from source not all Quassar Vue Components are includede in stippleUI pkg.
Components like FilePicker, Tab/Tab panels, Toolbar are just few of not included.

 Is there a plan to extend the pkg? It would be nice if the whole Quasar Component library will be included.
Is there an option to include missing components myself?

Si

[2020-08-26 14:29] essenciary commented on #2
@szafna Yes, I will keep adding more components, with a focus on most commonly used ones. So I'm not sure we'll ever have all of them, 100% coverage of the Quasar API is not a goal. But the ones you mention we'll most likely have.

I you want to contribute, that'd be much appreciated - it's about adding Julia wrappers for the missing components, similar to the ones already available.

[2020-08-28 15:02] szafna commented on #2
@essenciary I do not have competences yet for building wrappers (Julia and html/js beginner). Will try after while I get some more skills.

[2020-08-29 10:54] essenciary commented on #2
Thank you - I will set up some docs on how to develop components, hopefully that will help.

[2020-09-01 21:12] hhaensel commented on #2
I have a proposal to make in order to make adding features easier. As an example I have taken [`textfield()`](https://github.com/GenieFramework/StippleUI.jl/blob/master/src/FormInput.jl#L15-L152) from `FormInput` and modified it so that it does the same job, but is easier to maintain and adapt for other features.

The key idea is to replace '-' characters by '_' and to loop over the parameters. Th

[2020-09-02 13:28] essenciary commented on #2
@hhaensel the `FormInput` implementation is "deprecated". That integration was the first iteration, I have since abstracted away the integration into a different API which is much cleaner. We have come pretty much to similar approaches, see https://github.com/GenieFramework/StippleUI.jl/blob/master/src/Badge.jl

I'm in progress of updating the "legacy" components to this new API.

[2020-09-03 08:52] hhaensel opened #4 "range and RangeData in Range.jl"
Some comments on `Range.jl`

- The function name `range()` collides with `Base.range()`. Why not renaming it to `rangeslider()` (similar to plotly)?
- You may want to rename the module to `Slider.jl`
- Why do you use `UnitRange` for RangeData? Are you aware that `stop` is modified by the colon operator to have a spacing of `1`?
[code]

[2020-09-03 11:16] hhaensel commented on #4
I currently don't see where you need it, but the respective functions using `RangeData` should probably be modified to look like
[code]

[2020-10-15 16:50] szafna opened #8 "Using observables with quasar table object"
Hi,

I'd like to use selection functionality of table object:
  variable selection::R{Vector{String}} is defined in ReactiveModel
also
  DataTableOptions(true, "ID",nothing)
is defined in DataTable variable simulation
[code]
shows table with selection checkboxes. Next is to add observables variable :selection  that should get ID of selected row.
I've not found a way how to do this.
Could someone g

[2020-10-15 19:15] essenciary commented on #8
@szafna Yes, I remember that I noticed this wasn't working properly. I'll take a look and follow up.

[2020-10-15 19:26] essenciary commented on #4
@hhaensel Sorry, somehow this slipped through.

I'd rather be more tempted to specialize `Base.range` with our own method.

I can't remember exactly why I went with the custom `UnitRange`, but there was an issue with using Julia's ranges.

The changes in `render` and `parse` would not be needed as the step is not outputted in the Vue model, only in the HTML:
https://quasar.dev/vue-components/range

[2020-10-16 10:03] essenciary commented on #2
Thank you everybody for the input!

I'm doing a bit of cleanup and I'll close this as the API seems to have stabilized and I've planned a list of core UI components for v1:
https://github.com/GenieFramework/StippleUI.jl/projects/1

[2020-10-16 10:03] #2 closed

[2020-10-16 10:14] szafna opened #9 "Updating part of HTML code using observables"
Hi,

i have a String with HTML code in a \<div>. It is result of some calculation in Julia. What I would like to achieve is that after calculation (click on button) a \<div> with HTML code is replaced with new content. Therefore there should be a kind of link (observables) between my String that contains HTML code and \<div> object in Stipple app.
Instead of \<div>, other containers can also be us

[2020-10-16 16:11] essenciary commented on #9
@szafna Check out these examples showing how to bind click events to Julia functions and update the UI:
https://github.com/GenieFramework/StippleDemos/blob/master/ReverseText.jl
https://github.com/GenieFramework/StippleDemos/blob/master/StippleButtons.jl

[2020-10-17 12:12] szafna commented on #9
@essenciary there is a ```v-html``` directive in Quasar.
Usage:
```<template>  <div v-html=\"solutionGridHTML\">  </div> </template>```

```solutionGridHTML``` is variable

Simon

[2020-10-17 12:12] #9 closed

[2020-10-26 09:03] essenciary commented on #9
@szafna Thanks - not sure Quasar implements a `v-html`, it's rather part of Vue and is wrapped by `@html` in Stipple.

[2020-10-29 12:02] szafna commented on #8
@essenciary I've found out that data type returned from client (quasar) is not String. It is Dict. Hence variable definition of ``` selection``` should be ```  selection::R{Vector{Any}} = []```. It is same for single and multiple selection option in q_table property .
Si

[2020-11-05 10:34] #8 closed

[2020-12-06 14:59] hhaensel opened #10 "WIP: Multi-handle slider / vue-slider-component / array transmission"
@essenciary
These days I had the need for a slider with multiple handles. After some search I landed with [vue-slider-component](https://github.com/NightCatSama/vue-slider-component) by @nightcatsama

It's a really nice component, but it is not part of the quasar library. Do you think it makes sense to include it nevertheless?

In this context I experienced two problems:

- The vue-slider-componen

[2020-12-07 13:52] essenciary commented on #10
@hhaensel Thanks for the updates. The slider looks great and it doesn't seem to have large dependencies so it makes total sense.
Can you please share an example that I can test myself? Just brainstorming, I'm thinking in the line of adding some type hints (metadata) with the payload so that we somehow know how the data should be converted and maybe having a conversion API?

[2020-12-07 16:19] hhaensel commented on #10
after some tweaking it looks quite similar to the quasar library ...

![image](https://user-images.githubusercontent.com/31985040/101376060-65e77800-38b0-11eb-8082-6150397c49d4.png)

[2020-12-07 19:55] essenciary commented on #10
It looks lovely 😍

[2020-12-08 17:12] hhaensel commented on #10
Here's an example without any encapsulation, mainly plain HTML ...
[code]

[2020-12-08 17:15] hhaensel commented on #10
![image](https://user-images.githubusercontent.com/31985040/101517638-41a79c00-3981-11eb-837d-ece1f306a251.png)

[2021-01-05 15:52] essenciary commented on #10
@hhaensel Sorry, missed this update! Can we release this somehow? Should we pack it as a distinct package or add it to StippleUI? If we put it in UI we need a way to load (additional) assets per component.

[2021-01-26 16:13] touchft opened #12 "Examples for file loading please !"
The UI is simply shown ahead of the code.

![11](https://user-images.githubusercontent.com/12428354/105867234-d2206580-602f-11eb-8855-10b0e05310b1.png)

I try to hybrid various examples and get the following code. Unfortunately it is NOT working! Please provide an example for file loading. Thank you!!

[code]

[2021-01-27 02:27] touchft commented on #12
Comparing with quasar and Genie introduction and binding-relation with vue, I made a guess to bind the file name and julia, and finally it WORKs !

Simply replace `name="fileloaded"` by `name=files` ! The above code WORKs!

I hope more examples and I don't want to kill my brain again. ^_^

[2021-01-27 03:21] touchft commented on #12
One thing I am confused for the symbol `:files` in above code:

[code]

How is `:files` related with `model.files` ? If we have `a.files`, `b.files`, etc, how do we control which `:files` to be referenced for uploading?

[2021-01-27 09:33] essenciary commented on #12
@touchft I see your point - the above code is not designed to work with Stipple (eg is not reactive). Let me take a look, we need to find an optimal workflow.

[2021-01-28 10:16] hhaensel commented on #12
BTW, there is a quasar uploader component. You can easily integrate it yourself by calling
[code]
and then use the component by
[code]

[2021-01-28 10:23] hhaensel commented on #12
@essenciary We should integrate the uploader in StippleUI? Shall I do it?

(I have not completely understood, why you put a template wrapper by default for most of your components. Could you explain this to me or could you give an example where this is useful?
And should I enclude a wrapper for the upload component?)

[2021-01-28 10:37] essenciary commented on #12
That'd be awesome, thank you!

Quasar components are to be wrapped in `<template>` because template HTML code is not rendered by the browser when the page is loaded. The template (or rather it's content) is not meant to be rendered before the JS kicks in as it's just DOM content for building the web components after the JS is loaded. Ex: https://quasar.dev/vue-components/file-picker#Design - check

[2021-01-28 13:38] hhaensel commented on #12
Done, see #11

you can use now `uploader()` with the latest master. Furthermore there are `quasar()`, `quasar_pure()`, `vue()` and `vue_pure()` to use non-registered quasar and vue components with and without template wrapping, e.g.
[code]
Note:
- the first regular argument appears as element between the opening and closing brackets. This is the reason for the `""` after `:slider`
- further regula

[2021-01-28 13:38] hhaensel commented on #2
I've just added raw components, which make it possible to use non-registered components.
See #11 and #12

[2021-02-26 19:19] yakir12 opened #15 "Uploader is missing fieldname to connect it to the model"
If I understood this right, [uploader](https://github.com/GenieFramework/StippleUI.jl/blob/773f1420e69ac255270bd6ba9d0037400eeb43b5/src/Uploader.jl#L10) doesn't have the `fieldname` attribute so it's impossible (for me) to link it to a parameter in the model (like what exactly gets updated once someone uploads a file). Also, I'm not sure what exactly the uploader is supposed to return, a temp file

[2021-02-26 23:23] hhaensel commented on #15
It's a two-step process:

1) put the uploader in your `ui()`
[code]
2) add a route that handles the request
[code]

I hope that I didn't make any errors during adaptation here.

[2021-02-27 10:46] yakir12 commented on #15
Once Stipple's documents are up, this should go there. I'll leave this open as a reminder for the docs, or feel free to close this -- it did completely solve my problem of uploading. Thanks!!!

[2021-03-02 18:53] JulesBlubb opened #16 "Drawer Example"
Hi,
I really like Stipple and I want to use it with StippleUI to create an app with a sidebar which includes different dashboards, but I am not sure which elements to use for a sidebar. I have tried to use **drawer**, but nothing showed up.
Which elements should I use to create a sidebar?

Thanks!

[2021-03-02 20:48] essenciary commented on #16
Thank you - I'm not sure a sidebar would need to be a component, but rather just a section on the page (a div). What would it be its behaviour?

StippleUI uses Quasar - any of these components would match the sidebar? https://quasar.dev/vue-components

[2021-03-02 23:05] hhaensel commented on #12
@touchft Can we close this?

[2021-03-03 00:18] hhaensel commented on #16
Would [q-drawer](https://quasar.dev/layout/drawer#Example--Seamless-menu) come close to what you want?

[2021-03-03 07:18] JulesBlubb commented on #16
![issue_example](https://user-images.githubusercontent.com/5750890/109767699-38cd0c00-7bf8-11eb-8bdf-c0d9d1de0cde.png)

I need something like this, where I can choose different contents on the left like in a sidebar. I tried _drawer_ but could not receive a running example.

[2021-03-03 09:40] jbrea opened #17 "Reload page at the end of @click"
Is there a simple way to tell the page to reload in Stipple?
I have a button `btn("plot", @click("plot = true")` and
[code]
Currently I reload the page manually after having pressed the plot button, but it would be nice if the button click automatically reloaded the page.

[2021-03-05 13:40] hhaensel commented on #17
What's the reason for reload? Normally, you should update your plot via the webchannel without a full reload.
If you still need a reload, you can call `location.reload()`. Possibly via a local method defined by `js_methods()`.
How to do that you can read [here](https://discourse.julialang.org/t/call-a-vue-function-in-a-stipple-app/56466/6) and [here](https://discourse.julialang.org/t/how-to-use-bt

[2021-03-05 13:43] hhaensel commented on #15
Can we close this?
I want to mention that `uploader()` is already part of StippleUI, so you can call it directly.
[code]

[2021-03-05 13:50] yakir12 commented on #15
Sounds good to me!

[2021-03-05 13:50] #15 closed

[2021-03-05 13:55] hhaensel opened #18 "Genie errors out when dashboard contains a $ sign"
As soon as the text in the dashboard contains a $ sign, Genie reports an error
[code]
The underlying reason is that `Genie.Renderer.Html.html()`
treats data with $-sign differently (line 442):

[code]
This also prevents inserting any js code that calls the intrinsic vue-function `$watch()`

I don't understand why this distinction is made, it probably has to do with Gumbo. Anyhow, the problem arise

[2021-03-05 16:29] essenciary commented on #18
The `$` sign is used for Julia string interpolation.

Is `$watch` inserted by the user? If not, can we escape it `\$watch`? Or can we replace it before rendering by using something like `_dollar_watch`?

[2021-03-05 16:43] hhaensel commented on #18
It also happens if $ appears in the regular text. It is not due to string interpoplation.

The problem is line 442 of `Html.jl`. If I eliminate the `occursin(raw"$", data) || ` from the condition, everything displays fine.

[code]

[2021-03-05 16:51] essenciary commented on #18
`$` is by design used for Julia code interpolation. So it's expected to be a valid expression in the line of `$(...julia here...)` or `$var` which is outputted as Julia code. Maybe you stumbled onto a bug, but potentially your $ expression can not be parsed as Julia.

[2021-03-05 16:56] essenciary commented on #18
This allows to generate dynamic output, like for example:
[code]

[2021-03-05 17:01] essenciary commented on #18
This has been a bit of a known issue, for example when using `$` for jQuery vars inside `script` tags. I'm not sure how to address it.

We could have a flag which disables `$` parsing... but it doesn't sound like a good idea to globally disable it. Or have some sort of `rawjs` which makes that content a `raw` string.

[2021-03-05 17:25] essenciary commented on #18
@hhaensel Escaping seems OK:

[code]

[2021-03-05 17:26] essenciary commented on #18
@hhaensel Escaping seems OK:

[code]

But maybe you can provide an example of your test case and error, it might be different.

[2021-03-05 17:28] essenciary commented on #18
I think this is more like the issue (in the `Html` renderer):

![image](https://user-images.githubusercontent.com/11292378/110151302-9c199280-7de0-11eb-8ab5-fe5557ed2f59.png)

[2021-03-05 17:31] essenciary commented on #18
It would need to be escaped 2 levels deep:

[code]

[2021-03-05 17:51] hhaensel commented on #18
Put this in a dashboard and you will see the error. My MWE is
[code]

[2021-03-05 20:17] essenciary commented on #18
Thanks!

Looks like a weird bug:

[code]

[2021-03-05 20:20] essenciary commented on #18
Smallest MWE:

[code]

[2021-03-05 21:15] essenciary commented on #18
@hhaensel I need to dig into this. The issue has to do with scopes (where are the various modules loaded, and when the code is parsed due to `$`, that affects the availability of the loaded modules).

You can see this by running the example code and passing the `context = @__MODULE__` in `html`:

[code]

---

However, I also found a new issue which might be related to the generation of the Vue cod

[2021-03-05 21:56] jbrea commented on #17
I have a `plot_data::R{Vector{PlotData}}` field in my model to plot curves with `StipplePlotly`.
The `render()` function empties the `plot_data` field and pushes some new `PlotData` onto that list.
I couldn't figure out a way to display the new list of `PlotData` without reloading the page.

Thanks for the help!

(I realised it may have been better to ask on discourse or gitter. Shall I close this

[2021-03-05 21:59] essenciary commented on #18
Also, charts rendering broke between Stipple 0.7 and 0.8 - eg German Credits demo doesn't work anymore.

![image](https://user-images.githubusercontent.com/11292378/110178237-6f787180-7e06-11eb-9e5c-6eb22fd30949.png)

Probably related to https://github.com/GenieFramework/Stipple.jl/issues/33

[2021-03-05 23:44] essenciary commented on #18
I fixed the invalid escape sequence (not pushed yet). Still looking into the unregistered components.

[2021-03-06 08:44] hhaensel commented on #17
Have a look at the [MultiUser](https://github.com/GenieFramework/StippleDemos/blob/master/MultiUserApp.jl) example in the StippeDemos.

[2021-03-06 11:05] jbrea commented on #17
I tried to do the same as in the link you posted, but I may be missing something important: it doesn't seem to work.
Here is a M(N)WE (it works in the sense that it works when I manually reload the page).

[code]

This is with
[code]

[2021-03-06 11:44] hhaensel commented on #17
There are two problems with your code:
- you create a new listener with each execution of your `ui()` definition. This is not a problem if you run the file once, but if you are debugging, you end up with many listener functions which all execute and produce their respective errors.
- you changed the content of an array by `empty!` and `push!` This doesn't trigger the listener functions unfortunate

[2021-03-06 11:52] hhaensel commented on #17
I must admit, that I did this definition of `on()` in the `ui()` function in my demo code. That is not good practice. I will change this. - I also learn with time 😉

[2021-03-06 12:55] jbrea commented on #17
Awesome, thanks a lot. The version with assignment of a new array to `model.plot_data[]` works perfectly.

I couldn't find the function `notify!`, But I don't need this version, because I'm happy with the assignment of a new array.

[2021-03-06 12:55] #17 closed

[2021-03-06 13:26] hhaensel commented on #17
I've written the example in that way that the `on()` routine checks how many traces are displayed (`length(model_plotdata[])` >=5). In that case I assign a new array.
If there are less than 5 traces I add a new trace with `push!()` similar what you did in your example, but without emptying the array beforehand. Then I call `notify!()` which is automatically imported from Observables by Stipple.

[2021-03-06 13:39] jbrea commented on #17
Ah, great, now also the `notify!` version works. For my version of Stipple I had to call explicitly `Stipple.Observables.notify!`.

[2021-03-06 20:01] essenciary commented on #18
@hhaensel I opened an issue, maybe you have the chance to take a look into the "Unknown custom element error" - potentially related to the JS changes introduced in v0.8

[2021-03-09 14:37] JulesBlubb commented on #16
@hhaensel I try to get the q-drawer example on https://quasar.dev/layout/drawer#Example--Seamless-menu to work. My example code is showing a menu button but the sidebar is not shown when clicking on the button. I get the error:

**[Vue warn]: Property or method "drawer" is not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option,

[2021-03-11 08:27] essenciary commented on #18
@hhaensel Can we close this?

[2021-03-11 22:24] #18 closed

[2021-04-02 21:42] JulesBlubb commented on #16
Hi :)
I have managed to create an example with drawer. I made an example for larger applications with hiding elements.
I added some elements like avatar, scrollarea, toolbar and tabs.

https://user-images.githubusercontent.com/5750890/113455847-ef94f580-940b-11eb-8d64-a4aa741dc37e.mp4

You find the code here: https://github.com/JulesBlubb/DrawerDemo/blob/main/PR_example.jl

[2021-04-03 12:24] touchft commented on #12
Sorry, I am late. ^_^

[2021-04-03 12:24] #12 closed

[2021-04-05 09:57] JulesBlubb commented on #16
Hi @hhaensel :)
I have managed to create an example with drawer. I made an example for larger applications with hiding elements.
I added some elements like avatar, scrollarea, toolbar and tabs.

https://user-images.githubusercontent.com/5750890/113562096-d22b7b80-9605-11eb-96bd-22e0b171f483.mp4

You find the code here: https://github.com/JulesBlubb/DrawerDemo

[2021-04-13 07:13] touchft opened #20 "[Suggestion]How about simplify and unify the elements style/format ?"
If all elements keep the same syntax style/format, it will be simple and easy to learn and use.

Some thought for the element style. Let's take a look at the `NORMAL_ELEMENTS` from the module `Genie.Renderer.Html`

#### Basic HTML Element style

[code]
The above html element style can be translate to `NORMAL_ELEMENTS` as the following (take `h1` as example, may not have true meaning)

[code]

or

[2021-05-07 13:49] touchft opened #21 "How do I get something like '<q-btn label=\"lable\">xxx</q-btn>' ?"
I want to get something like
`"<template><q-btn label=\"lable\"><template><q-tooltip>a button</q-tooltip></template></q-btn></template>"`.

How can I get it?

[2021-05-07 14:23] touchft opened #22 "[suggestion] An example for unifying the elements format"
I hope to use same format for all elements to make things simpler.  I hope/suggest the following format rules julia element functions.

1. The argument `[xxx]` will always be the `HTML content` no matter its position in `ele()`.
E.g. , Julia `ele("aa", "bb", [xxx], cc="dd")` => HTML `<ele aa bb cc="dd" >xxx</ele>`

2. There is only one argument  `[xxx]`  allowed in julia element function.
E.g., Ju

[2021-05-07 14:43] touchft commented on #20
![2](https://user-images.githubusercontent.com/12428354/117466585-77c76700-af85-11eb-8427-364853823ae8.png)

The above UI is coded by the following:
[code]

[2021-05-07 14:57] essenciary commented on #22
@touchft I can't see any good arguments for doing this. I guess we'd have to look at each of the points, some ideas might bring improvements, but let's talk about the first. How would you implement

[code]

The way I see it you'd have to look at all the arguments, search for an array, check if there is more than one array (per your number 2), if there is I guess throw an exception (?), then set th

[2021-05-07 15:19] essenciary commented on #21
@touchft This should do it:

[code]

[2021-05-07 15:20] touchft commented on #22
Followed wtih above suggestions, I made customized branch of `Stipple` and `StippleUI`.  The following UI and code are examples.

![2](https://user-images.githubusercontent.com/12428354/117466585-77c76700-af85-11eb-8427-364853823ae8.png)

When mouse hover the blue button `UPDATE`, the tips will show (see following pic).

![1](https://user-images.githubusercontent.com/12428354/117467832-a4c84980-af

[2021-05-07 15:23] essenciary commented on #21
There is also the option of `q_elem` instead of `register_element`:

[code]

Ofc the end objective is to have all the Quasar elements implemented in the API so these steps will be unnecessary.

[2021-05-07 15:36] touchft commented on #22
In most cases, the `[xxx]` will appear in the last position, so we can combine elements with many fold/level elegantly. Otherwise, it will make user harder to locate the element's attributes and case the problem
"head heavy foot light !"

[2021-05-07 15:49] touchft commented on #22
Let's take aside of computation amount, one of benefits from the suggestions is : **No need to learn various element api format ^_^**

[2021-05-07 18:08] hhaensel commented on #22
We have already the kw syntax `children=xxx` for positional independence. You have to supply an empty string as first argument

[2021-05-07 19:39] hhaensel commented on #21
`btn("label"; inner = quasar(:tooltip, "a button"))`

[2021-05-07 19:43] hhaensel commented on #21
We have the keyword `inner` which adds content to the existing children.
@essenciary should we rename it to children and add automatic joining of arrays?

[2021-05-07 21:31] hhaensel commented on #22
I submitted a PR in Genie to support arrays, but I kept the keyword `inner` for now.

I changed StippleUI to support `xelem(:myelem, args..., kwargs...)` with and without prefix, so it is easy to define own elements:
[code]
to allow for
[code]

[2021-05-07 23:34] hhaensel commented on #22
Cool interface, indeed!

This is, how I would rewrite it with the current StippleUI

[code]

Note the different positions of the brackets for the macros, which is more Julian style.

I only guessed, what your macro `@is` does, so I replaced it by `style = "offset: 10px, 10px;"`.

![image](https://user-images.githubusercontent.com/31985040/117517459-60e03f00-af9c-11eb-9925-bbd1eb499314.png)

[2021-05-08 03:10] touchft commented on #22
Great!  I see that you add multiple quasar element function manually.  How about add most of quasar elements by registering them as `Stipple` do and leave some special elements manually handled. Some examples are followed:

[code]

[2021-05-08 06:32] hhaensel commented on #22
We need to differentiate between elements that are typically wrapped and those that are not.
Furthermore , we should add doc strings somehow

[2021-05-08 07:16] touchft commented on #22
Hope to see the change.

Thanks

[2021-06-16 22:24] hhaensel opened #23 "inconsistent definition of input fields"
Currently `textfield()` and `numberfield()` have different orders of their arguments.

I propose to unify the syntax and will file a respective PR

[2021-06-17 09:01] essenciary commented on #23
Yes, I think that makes total sense, thank you!

[2021-06-17 09:33] hhaensel commented on #23
I'll do that tonight ...

[2021-06-17 19:23] hhaensel commented on #23
Done!

[2021-06-17 19:23] #23 closed

[2021-06-25 07:18] cdhf opened #26 "Table pagination not working"
I've copied code from the examples to play around with Stipple, and found the following behaviour.

When I use a model field for the DataTablePagination object that is simply named "pagination", the table in the browser only shows the first five rows, and this cannot be changed. Renaming that field to anything else fixes the table. A working and a broken example are attached.

[example.zip](https:

[2021-06-28 13:23] hhaensel commented on #26
I have half of the clue.

Have a look, what
[code]
does. This is because of the argument mappings `StippleUI.API.ATTRIBUTES_MAPPINGS` that Stipple performs for convenience.

In a recent use case of the QTree element, I also needed to make use of synced properties (expanded, ticked, selected). I realised that I did not work as soon as I named the model properties identical to their element counter

[2021-06-28 15:01] JuliaTagBot opened #27 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-08-29 09:12] szafna opened #29 "How to use StippleUI.Dialog as notification"
Hi,

trying to add a notification (a dialog with OK button) to my Stipple app using Dialog (q-dialog) component. However could not managet to do.
Need some help, please.

[2021-10-16 20:05] cwiese opened #32 "extend"
Love Stipple's design over Dash.   Is there a document on adding Quasar components like "autocomplete"??

[2021-10-16 20:09] cwiese commented on #32
also this should work right?

`Stipple.select(:yfeature; options=:features, **multiple=true**)`

[2021-10-16 20:34] hhaensel commented on #32
Yes, indeed that works, you can even do
`multiple=:multiplefeatures` and change whether the option field accepts multiple selections by setting `model.multiplefeatures[] = true`.
But you need to write your own logic in the backend what to do with the value of features.
Also, you have to define yfeatures as a Vector. Luckily, the backend always converts atomic values to 1-element Vectors if the fie

[2021-10-16 21:48] hhaensel commented on #32
According to the quasar docs you need to insert `  <q-autocomplete
    @search="search"
    :min-characters="3"
    @selected="selected"
  />` in the input field. You can either do that manually as a string or use the `quasar()` function, e.g.
[code]
As I am currently on my mobile phone this code is not tested. Concerning registration of QAutocomplete, @essenciary is the specialist.
Good luck. We

[2021-10-18 18:33] cwiese commented on #32
I see what you mean ..I get
```vue.js:634 [Vue warn]: Unknown custom element: <q-autocomplete> - did you register the component correctly? For recursive components, make sure to provide the "name" option.```

I have tried Genie.Renderer.Html.register_normal_element("q__autocomplete", context = @__MODULE__)

[2021-10-19 19:38] hhaensel commented on #32
It's nevertheless q-select. We chose the API to omit the `q-` for all elements. So you find item for q-item, toggle for q-toggle, etc.
You can always check the content by entering the expression at the REPL.

[2021-10-30 05:19] hhaensel commented on #32
I guess it's the same problem as with qtab. Try to use the normal elements with a closing </q-route-tab>. This automatically happens if you define your own function similar to my example above

[2021-10-30 12:23] cwiese commented on #32
this does not solve it .. I am converting to quasar_pure functions to test

[code]

[2021-10-30 17:04] hhaensel commented on #32
@cwiese
For the future, please open new issues for new topics, because it's difficult to find anything after a while 😉

[2021-11-02 01:04] cwiese opened #35 "Ability to use colon in element tag"
I am using the quasar drawer :
[code]

trying to get quasar_pure to produce this output ,,but a name attribute cannot have colon
[code]

[2021-11-02 07:13] hhaensel commented on #35
[code]
Note that the first positional argument goes between the brackets, so you have to place the inner part before the `:show__if__above`. The `@data` provides the colons to the keyword argument. You could also have integer or array arguments to `@data`, if quasar syntax would need it.
Final note: If you want to have the parameters before the inner arguments, there are two ways of achieving it.

[2021-11-02 07:27] hhaensel commented on #32
Coming back to the router tab:
I think router works differently than you expect. For that to work you have to link the vue router js ànd initialise a router component. For more information have a look at https://router.vuejs.org/guide/#javascript
I propose you open a new issue with a description what you are going to achieve.

[2021-11-02 07:41] essenciary commented on #35
We already have a Drawer component, does that not work as expected? https://github.com/GenieFramework/StippleUI.jl/blob/master/src/Drawers.jl

[2021-11-02 08:52] hhaensel commented on #35
In the version I was currently working at, it was not exported and it resided under `Drawer.jl`, seems as if it was refactored lately 😉
So please use `drawer(` instead of `quasar_pure(:drawer, `. All the rest about the API remains valid, of course.

[2021-11-02 18:29] cwiese commented on #35
Yeah I do not understand using StiippleUI#v.0.9.0

I see the export of drawer but

[code]

[2021-11-02 19:03] hhaensel commented on #35
The reason is that we forgot to reexport in StippleUI. For the time being you can do
`import StippleUI.Drawers.drawer`

[2021-11-04 07:00] hhaensel commented on #32
@cwiese I close this issue as it is becoming very long.
Please feel free to open a new issue if you think you need router support. As we havie the Genie router in the backend, I think having another router component is rather confusing.

[2021-11-04 07:00] #32 closed

[2021-11-04 11:10] cwiese commented on #32
Yes confusing but .. we used Ember.js for a long time and like Single Page Apps (SPA) that have routers that can manage "parts" of the page without visiting the server (except for maybe a REST call for data).  The part we like is a route like /customer/10/item/20 can render a parmet form (customer 10) and and item they purchased expanded Master Detail for example.  THis would be hard with Server g

[2021-11-04 23:29] #35 closed

[2021-11-05 00:13] cwiese opened #36 "dynamic label"
I was on a roll - but this seem simple .. yet I am lost .. how can I make the btn label dynamic

this will not work ` label=@bind(:model_label)`

[code]

[2021-11-05 05:00] hhaensel commented on #36
It's just `label=:model_label`

[2021-11-05 08:07] essenciary commented on #32
I'd say that the best way to achieve this would be to tap into the Vue ecosystem (https://router.vuejs.org) as in theory it should provide the best implementation. We could add some friendly API to include/interact with Vue router. As @hhaensel said, can you please open a new issue where you provide a MWE?

[2021-11-05 11:44] cwiese commented on #36
right! thanks

[2021-11-05 11:44] #36 closed

[2021-11-05 12:43] hhaensel commented on #36
You have probably realised that your code was not yet working as expected. You would need to supply an additional empty string after `item(` and supply the keyword `inner` for the content in older Versions of Genie. The latest version would only need the empty string, and we are currently [discussing a change](https://github.com/GenieFramework/Stipple.jl/issues/67) that would even make your code w

[2021-11-05 12:48] cwiese commented on #36
I was just getting back to this you probably saved  me hours !  thx

[2021-11-07 12:10] essenciary commented on #35
Thanks - I've patched the code to export and will come up in the next release.

[2021-11-15 21:34] cwiese opened #37 "Model property as a dictionary"
is it possible to bind to a Key of a dictionary in in the model?   `  params::R{Dict} = Dict()`

how would i create the expression ?  @bind(:params["key"]) ==> obviously that will not work

[code]

[2021-11-15 21:39] cwiese commented on #37
I tried "computed" ... I really trying to avoid creating 25 top level attributed ..it could be dynamic
[code]

[2021-11-16 07:00] hhaensel commented on #37
You can use Dicts without computing the value:
[code]
or
[code]
if you need it explicitly in another element.

[2021-11-16 07:42] hhaensel commented on #37
For input fields we have `numberfield` and `textfield` that bind numeric values or string values, e.g.
[code]

[code]

[2021-11-16 07:47] hhaensel commented on #37
In the example above I used the fact that the R_str macro generates symbols from strings. Not sure, whether @essenciary likes this usage 😉
A number field would look like this
[code]
If you want to bind a typed field in a pure element, you would use
[code]

[2021-11-16 12:47] cwiese commented on #37
this is great information, thank you.  will test very soon

[2021-11-22 21:45] hhaensel opened #39 "Multi component apps stopped working"
My little debugger example that we discussed in #32 stopped working. As now all defined assests for Stipple are collected in one place and pasted in every page.
@essenciary Your new asset setup is quite fancy. If I would fully understand it, I might come up with a solution. Can you guide me on the right path here?
[code]

_Originally posted by @hhaensel in https://github.com/GenieFramework/Stipple

[2021-11-22 21:58] hhaensel commented on #37
@cwiese Did you test?
@essenciary shall we change or enhance the `@bind` syntax, as I proposed [here](https://github.com/GenieFramework/Stipple.jl/issues/67#issuecomment-962988342), I think that got lost

[2021-11-22 22:14] cwiese commented on #37
Yes it worked perfectly I appreciate the insight

On Mon, Nov 22, 2021 at 4:58 PM hhaensel ***@***.***> wrote:

[2021-11-22 22:29] hhaensel commented on #39
I need to make a correction. Only the dependencies of the last initialised model are listed in the deps()

[2021-11-22 23:46] hhaensel commented on #39
I think it's in Stipple.jl [line 679](https://github.com/GenieFramework/Stipple.jl/blob/master/src/Stipple.jl#L679) and [line 959](https://github.com/GenieFramework/Stipple.jl/blob/master/src/Stipple.jl#L959).
You store the dependency of the last `Stipple.init()` in `DEPS` and this value is used independent of the channel, whereas earlier we added this part with the endpoint explicitly.

We either

[2021-11-23 07:25] hhaensel commented on #39
I think, I found a workaround. I will come up with a PR soon. Hope you like it ...

[2021-11-24 10:06] essenciary commented on #39
@hhaensel That is not related to core theme. The latest changes had to do with CDN support (external assets) and the fact that the deps were added multiple times to DEPS (when it was an array - this was causing the multiple definitions of $withoutWatchers)

[2021-11-30 10:56] hhaensel commented on #39
As the corresponding PR is merged, we can close this

[2021-11-30 10:56] #39 closed

[2021-12-04 00:06] #37 closed

[2021-12-04 00:14] cwiese opened #40 "How to easily generate dynamic cpontent"
I have a Dict in the model (that can change)
[code]
in the UI - would like to create the `textfield` ..and rerender when model changes
[code]

Obviously @bind(:params)] does not work.

I was hoping not to create a giant HTML string in the model - but rather use this like a template.

Any ideas

Chuck

[2021-12-05 19:36] AbhimanyuAryan opened #41 "How to nest elements"
Quasar component

[code]

What will be the stipple alternative?

both `q__btn` and `q__spinner` are defined I believe

[2021-12-05 23:33] hhaensel commented on #41
What about this one:
[code]
The empty string after template is necessary to have the `v-slot` appearing in the parameters. The content in square brackets is always placed as inner element. I use this for both, `btn()` and `template()`.

[2021-12-05 23:36] AbhimanyuAryan commented on #41
Thankyou will try it 😁

[2021-12-05 23:39] #41 closed

[2021-12-08 06:37] AbhimanyuAryan commented on #41
@hhaensel comes up with this script as well does work without this. How do I use this JS and put in Stipple?  Also simulating a delay. I'm running a backend db search with Genie and want it to keep loading till backend operation is done.

      // Simulating a delay here.
      // When we are done, we reset "submitting"
      // Boolean to false to restore the
      // initial state.

[code]

[2022-01-28 08:46] AbhimanyuAryan commented on #41
Also this example has `spinner` component as nested element of `imageview`. Quasar complement of this is: ```<q-img> <q-spinner></q-spinner> </q-img>``` <--- something like that

https://github.com/GenieFramework/StippleDemos/blob/1fbd312947199f30f9931963b999cec02590e6f5/BasicExamples/ImageGallery.jl#L42

Looking forward to you first PR in *StippleUI*. Let me know if anything not clear :D

[2022-01-30 21:17] TheCedarPrince opened #47 "Adding QTab support With Stipple Routing Support"
Currently, I had a conversation with @AbhimanyuAryan  about adding QTab support.
I had started work on this in PR #44 but it had to reverted as QTab support is tricky as it relies on the Vue Router.
In that PR, Abhi said we could do something like this:

However, I have no idea how to do this so I am turning it over to you Abhi to add additional thoughts here.
I opened a PR #46 to add in code idea

[2022-01-31 05:33] AbhimanyuAryan commented on #47
cool I'll discuss the best possible approach with Adrian and follow will follow up on this

[2022-01-31 06:36] TheCedarPrince commented on #47
got it!
Thank you!
let me know if I can help out here.
Looking forward to what you and @essenciary come up with!

[2022-01-31 12:04] essenciary commented on #47
Thanks @TheCedarPrince - this is not trivial as the UDM version of quasar does not support Vue Router. We'll check if we can add it or if there is some other router/routing option.

[2022-01-31 17:07] TheCedarPrince commented on #47
Oh I didn't realize that...
@essenciary and @AbhimanyuAryan , there were two alternatives I was also considering given the fact that the Vue Router is more complicated than I expected:

1. I noticed while looking through the [Quasar Tab documentation for QRouteTab](https://v1.quasar.dev/vue-components/tabs), there seems to be a field called `href` which does something similar to what I wanted in t

[2022-02-06 14:00] sgaseretto commented on #16
@JulesBlubb have you figured out how to implement the sidebar? I'm looking for this too.

[2022-02-07 07:32] hhaensel commented on #16
This should do it:
[code]

[2022-02-07 09:59] AbhimanyuAryan commented on #47
@TheCedarPrince have you tried using  `href` with `QRouteTab` I have a strong felling this should serve your use case

[2022-02-07 10:12] AbhimanyuAryan commented on #47
I'm not sure about [this `QRouteTab` won’t and cannot work with the UMD version because in that environment you don’t have Vue Router](https://v1.quasar.dev/vue-components/tabs#qroutetab-api) in Warning. Also, not sure if entire component will work in isolation if you don't need vue-router functionality and only want to use `href`. I need to clarify this maybe create an issue on Quasar repo

[2022-02-07 15:40] TheCedarPrince commented on #47
Hey @AbhimanyuAryan ,
I have tried using `href` before but couldn't get it working.
So, not sure what else to do here.

[2022-02-07 15:56] AbhimanyuAryan commented on #47
Ok let me create a MWP

[2022-02-08 19:26] sgaseretto commented on #16
Thanks for the fast response @hhaensel ! I'll give it a try as soon as I finish some pending issues I have

[2022-02-10 09:11] AbhimanyuAryan commented on #47
https://github.com/AbhimanyuAryan/MultiRoute

[2022-02-16 19:48] hhaensel commented on #21
We now have another syntax to add additional content, which is putting an element in an array. So your desired button looks like
[code]
Note that it is easy to define your own functions, if they are not defined yet.
We'll soon add tooltip to our API.

@touchft Please close the issue, if you think, it's answered.

[2022-02-16 20:04] hhaensel commented on #29
Put a Bool variable in your model and bind it to the dialog. A distilled example could look like this.
[code]
More information on the quasar dialog is found in the [quasar docs](https://quasar.dev/vue-components/dialog).
Maybe, we will change this component in the future to accept a symbol for the fieldname.

[2022-02-16 20:12] hhaensel commented on #29
ok, in the next version it will be
[code]

[2022-02-16 20:24] hhaensel commented on #29
It's already in master, together with `tooltip()` 😉

[2022-02-16 20:29] hhaensel commented on #4
I think this is solved, right?

[2022-02-16 20:41] hhaensel commented on #20
We modified the API quite a bit, although we didn't document it well yet.

Unless there anren't any named positional arguments the API is as follows:

- the first positional argument goes in the inner part
- any argument that is an array now goes in the inner part.
- all other positional arguments are passed as parameters
- all keyword arguments are passed as parameters, Symbols as values indicate

[2022-02-16 20:43] hhaensel commented on #21
`tooltip()` is now in the master branch 😉

[2022-02-21 17:20] #21 closed

[2022-02-22 15:55] AbhimanyuAryan commented on #47
You can also use `buttons` in Stipple for routing @TheCedarPrince try this example

[code]

use property `href` and `type= "a"` for button navigation

[2022-02-22 18:09] AbhimanyuAryan commented on #47
Thanks @hhaensel much cleaner

[2022-02-23 11:10] hhaensel opened #49 "Remove `dashboard` -- recommend/replace with `page`"
I'm currently struggling with two things:

1. There are two definions for dashboard

[code]
The first one puts a div wrapper around the dashboard which grabs all the kwargs. Therefore, it is impossible to pass any arguments onto the dashboard element, e.g. `v__if = :isready.` Do we really need the wrapper?

If we do, shouldn't we pass on the args to the dashboard like
[code]
2. It is difficult for

[2022-02-23 14:56] essenciary commented on #49
TBH, I haven't used this in months, all my recent apps use `page`. And actually, the 2nd definition of `dashboard` is actually identical to the 2nd definition of `page`. Also for me the `dashboard` name is a problem as it clashes with names in the apps I build (hence the reason for renaming the `Dashboard` module as `_Dashboard`). Finally, `st-dashboard` is a custom UI component built by us. I'm h

[2022-02-23 15:39] hhaensel commented on #49
agree!

[2022-02-23 18:04] essenciary commented on #49
Awesome - I'll need to review/update the demos though, as I see that some of them use `dashboard`.

[2022-02-24 05:04] AbhimanyuAryan commented on #49
I have not used `dashboard` either. I removed `dashboard` from most of the `StippleDemos`, as I can see there are maybe 2-3 left which I will change as well

[2022-02-24 09:28] essenciary commented on #49
Thanks @AbhimanyuAryan - have you been using `page`?

[2022-02-24 09:29] AbhimanyuAryan commented on #49
Yes using `page`

[2022-03-07 07:52] michaelfliegner opened #50 "Trees example missing"
I would be very grateful for anything helpful, comprehensive example or just a hint, how to use the Trees module.

[2022-03-07 08:57] AbhimanyuAryan commented on #50
I'll add api support for you including demo. Ping you in couple of hours. Tq

[2022-03-07 14:25] hhaensel commented on #50
I've used trees un the past. Imight deduce a MWE

[2022-03-07 14:51] AbhimanyuAryan commented on #50
@hhaensel that would be really nice. I was about to ping you. How did you get it to work? I'm mostly confused how to pair js object with Reactive model

[code]
from: https://v1.quasar.dev/vue-components/tree#basic

You can pick this demo as starting point. Although I'm not sure how much of this is useful

Stipple Demo:
[code]

[2022-03-07 16:51] michaelfliegner commented on #50
Thank You!!!!

Maybe tree is not exported?

julia> include("Trees.jl")
┌ Info:
└ Web Server starting at http://127.0.0.1:8000
Genie.AppServer.ServersCollection(Task (runnable) @0x00007fcef235c940, nothing)

julia> ┌ Error: UndefVarError: tree not defined
│ Stacktrace:
│   [1] ui(tree_model::TreeModel)
│     @ Main /workspace/StippleDemos/BasicExamples/Trees.jl:25

[2022-03-09 14:56] hhaensel opened #52 "Support column specs for DataTable"
With PR #51 I propose to add a field columnspecs to DataTableOptions that makes it possible to provide extra formatting specs for columns.

As there are very many options to columns which are currently not all reflected in the Column struct I decided to go for an option dictionary instead. (My use case is provide formatting to numbers.

Usage is as follows:

[code]

columnspecs is a `Dict{Union{St

[2022-03-09 16:30] AbhimanyuAryan commented on #52
Aah OK. Thanks :)

[2022-03-10 07:52] AbhimanyuAryan commented on #21
@essenciary @hhaensel we should also add support for `:target` in tooltip

[code]

I tried but something went wrong. Can you suggest?

[code]

Error stack:

[code]

[2022-03-11 05:27] hhaensel commented on #21
I think you are missing three dots after kwargs...

[2022-03-11 06:35] hhaensel commented on #49
I think this is solved ...

[2022-03-11 06:35] #49 closed

[2022-03-11 06:37] AbhimanyuAryan commented on #21
Aah that should allow take multiple keyworded arguments... typo my bad 🙃

[2022-03-11 07:03] hhaensel commented on #21
@AbhimanyuAryan
I don't think your definition is a good choice, I would keep target to be a keyword argument. You can already do
[code]

I'd rather add the option to link the content to a model field when called with Symbol as first arg.
[code]

[2022-03-11 07:07] AbhimanyuAryan commented on #21
@hhaensel thanks a lot. I'll do it :)

[2022-03-11 21:05] hhaensel commented on #21
@AbhimanyuAryan I didn't see a commit, shall I do it?

[2022-03-12 08:52] AbhimanyuAryan commented on #21
@hhaensel doing it. Got busy with docs 😅 let me know if it looks good: https://github.com/GenieFramework/StippleUI.jl/pull/53 I'll merge

[2022-05-31 20:40] jochenkrattenmacher opened #57 "Radiobutton does not update reactive field for val = "false""
Hello!
In the example below, the radiobutton with val = "true" works just fine (as expected), however, with val = "false" it doesn't work. For some reason, val = 0 works as well (which works as a workaround of some sorts). To be a bit more precise, clicking on the radiobutton with val = "false" doesn't trigger on(model.show_bar)

[code]

[2022-05-31 20:57] hhaensel commented on #57
Leave out the quotes: `values = true`

[2022-05-31 21:54] hhaensel commented on #57
Oh, I remember. That's a weird issue that comes from earlier times. Currently we convert `"false"` to `false` in Genie.
https://github.com/GenieFramework/Genie.jl/blob/8c3788a773e5d9ca9c63531e7e498b7d534d980e/src/renderers/Html.jl#L248
@essenciary Didn't we want to change this?

[2022-05-31 21:56] hhaensel commented on #57
You could get around the issue by adding a space character I guess. So please try `"false "`

[2022-06-01 05:43] essenciary commented on #57
@hhaensel I did change it in the Genie #v5 branch, but as I recently mentioned it still doesn't work correctly. We basically need to support two situations:
1/ boolean html attributes, such as `checked` or `selected`. According to the HTML spec (and the way it's implemented in the browsers), for a false value, the attribute must be absent. This means that things like `checked = "false"` are actual

[2022-06-02 06:34] hhaensel commented on #57
Now my two cents on this issue
(... and a correction of some of my proposals that I didn't test and that did not work ...)

FIrst of all a link to the [HTML spec with nice examples](https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#boolean-attributes) for a common understanding. This leads to the following behavior of our API:
[code]

There are several ways out of the problem:
- def

[2022-06-02 06:53] hhaensel commented on #57
NOTE:
If you update to the latest Stipple versions you need to use `]add StippleCharts#master` as the latest changes in Stipple were not yet applied in StippleCharts. I just pushed the necessary modifications.
Also change `dashboard` to `page`

[2022-06-02 06:53] hhaensel commented on #57
@essenciary shall I tag a new version of StippleCharts?

[2022-06-02 11:43] essenciary commented on #57
@hhaensel
1/ I'm not sure about using `:value` instead of `value` - the first one is a reference to Vue prop, the second is an "inline" value. The initial question was about using `value`.
2/ tag - sure. Though FYI, we're not officially supporting `StippleCharts` as we don't have bandwidth for maintaining two plotting libraries. It has been deprecated in favour of `StipplePlotly`.

[2022-06-03 07:41] hhaensel commented on #57
`:val` is not necessarily a Vue property, it can be any js expression. It can contain Vue propoerties. We use this fact when we link PlotlyBase Charts with `plot("plot.data", layout = "plot.layout")` or when we reference array elements , e.g. `color = R"colors[0]"`
[code]

[2022-06-07 18:24] essenciary commented on #57
Ah yes, good point.

[2022-06-22 06:51] hhaensel opened #61 "Support programmatic selection of Table rows"
Currently it is not possible to programatically select table rows.

I submitted a PR #60 to accomplish selection of table rows based on selection criteria. It's still work in progress...

[code]

[2022-06-24 04:04] hhaensel commented on #57
So can we close this?

[2022-06-24 09:17] essenciary commented on #57
It's addressed on the Genie 5 branches - only HTML bool attributes (per the spec remove the `="false"`), any other attributes will keep it.

I'd say let's leave it open until it gets released and confirmed.

[2022-06-28 07:18] AbhimanyuAryan opened #68 "Stepper component causing issues"
Explained issue on PR. Please refer to this pull request: https://github.com/GenieFramework/StippleUI.jl/pull/67

[2022-06-28 07:24] AbhimanyuAryan commented on #50
will add this in docs and close this @hhaensel ??

[2022-07-19 07:21] ValentinKaisermayer opened #73 "DateRange is not syncronized with to the backend"
[code]

Changing the date range via the REPL updates the view `model.daterange[] = DateRange(Date("2022-07-01"), Date("2022-07-05"))` but the other way around does not work `model.daterange[]`.

[code]

[2022-07-28 23:28] cwiese commented on #73
When I change dates via the UI and it does not fire the "on" model.daterange

[2022-07-29 07:27] AbhimanyuAryan commented on #73
thanks for reporting. I think there's something off with DateRange. I'll work on it today and debug the problem

[2022-08-02 12:19] Sov-trotter opened #76 "Allow other StippleUI elements inside Tree"
Based on discussions on discord one can parse a `Dict` to have a tree view like the one below
Sample json :
[code]

julia code
[code]

![image](https://user-images.githubusercontent.com/43717431/182371554-6f1ef0f3-2111-4e14-9b51-ae6c6245ef8f.png)

It would be really useful to be able to define `checkbox`, `textfield`, `numberfield` (for fields like `1`, `qux`, `false`)and other elements inside the

[2022-08-03 22:41] hhaensel commented on #76
Was more work than I thought, because the `prop.node.key` cannot be used directly. Instead I had to write `getindex` and `setindex` in javascript for the key (see below).
Still improvement potential graphical-wise, but it works!
[code]
![grafik](https://user-images.githubusercontent.com/31985040/182724600-e2a97201-ea48-420c-9e6c-2c2a583055e9.png)
[code]

[2022-08-03 22:42] hhaensel commented on #76
It's been uploaded to StippleDemos

[2022-08-10 18:44] cwiese commented on #73
never fires change in observer

[2022-08-10 20:08] ValentinKaisermayer commented on #73
It seems to be that the back channel (view to backend) does not work properly.

[2022-08-10 20:17] cwiese commented on #73
if I programmatically set the daterange[] it fires the observer.   I was thinking the widget needs to "close" or "okay" when it sets new daterange. I have not look yet - but I intend to.

[2022-08-10 20:53] ValentinKaisermayer commented on #73
Maybe something goes wrong in the update
https://github.com/GenieFramework/Stipple.jl/blob/master/src/Stipple.jl#L836

[2022-08-12 05:56] hhaensel commented on #76
@Sov-trotter If you think this is solved, please close this issue

[2022-08-12 16:39] Sov-trotter commented on #76
Sure. Thanks. :)

[2022-08-12 16:39] #76 closed